<h3>observables works!</h3>
<ul>
    <li>Observable are Unicast in Nature means Every time it emits different data when we subcribe as many time or as
        many user</li>
    <li>Observable are cold means they emits the data when there is a subsciber </li>
    <li>Observable can't be the consumer</li>

</ul>
<button (click)="getObservableData()">Observable Emit</button>

<p> My Emited data is coming which is Unicast </p>
observablData1 : <b>{{observablData1}} </b> | observablData2 : <b>{{observablData2}} </b>

<h1>Summary:</h1>
<ul>
    <li>Observable can only publish data</li>
    <li>Subject can publish and subscribe data</li>
    <li>Observables are cold ,we need minimum one subscriber to get data</li>
    <li>Subjects are hot it will emit data without subscribers also</li>
    <li>Observable maintain different set of data for each subscriber</li>
    <li>Subjects emitts same set of results to all its subscribers</li>
    <li>Observables are unicast,subjects are multi cast</li>
</ul>