<p>tapoperator works!</p>
<button (click)="getTapOperatorData()">Tap Operator Data Emit</button>
<ul>
    <li>Transparently perform Action or side-effect such as logging</li>
    <li>Transparently mtlb hamer reponse ko koi bhi effect nhi hona chaye</li>
    <li>Uses of Tap oeprator</li>
    <ol> Console.log(data) kra sktey ha</ol>
    <ol> Console.log(Response) kra sktey ha</ol>
    <ol>Change Property Value</ol>
    <ol>Kisis subject m koi value emiot kr sktey hai</ol>
    <ol>Koi bhi action perform kr sktey hai</ol>
</ul>
<h1>Data is coming</h1>


<table>
    <tr>
        <h5>Name</h5>
    </tr>
    <ul id="elContainer"></ul>
</table>