<h1>Routing Concept</h1>

<div>
  <a routerLink="home">Home Page</a> |
  <a routerLink="observable">Observable</a> |
  <a routerLink="subject">Subject</a> |
  <a routerLink="behaviorsubject">BehaviorSubject</a> |
  <a routerLink="mapoperator">Map Operaror</a> |
  <a routerLink="pluckoperator">Pluck Operaror</a> |
  <a routerLink="tapoperator">Tap Operaror</a> |
  <a routerLink="contactus">Conatct Page</a> |
  <a routerLink="aboutus">Aboutus Page</a> |
  <a routerLink="student">Student Page</a> |
  <!-- <a routerLink="['/aboutus', 101]">Parameter Page Route</a> -->
  <router-outlet></router-outlet>
</div>